.schedule-card__container-col {
    margin-bottom: $spacer;
}

.schedule-card {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: $spacer $spacer;
    background: white;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    height: 100%;

    &:last-child {
        margin-bottom: $spacer * 2;
    }

    .schedule-card__avatar {
        .schedule-avatar__container {
            background-size: cover;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            margin-right: $spacer;
        }
    }

    .schedule-card__infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .schedule-card__title {
            margin-bottom: $spacer;
        }

        .schedule-infos__time {
            justify-self: flex-end;
        }

        .schedule__time {
            margin: 0 $spacer / 2 0 0;
            font-size: 12px;
            display: flex;
            align-items: center;
        }

        .schedule-time__watch {
            margin-right: $spacer / 2;
        }

        .schedule-time__arrow {
            margin-right: $spacer / 2;
        }
    }
}

@include media-breakpoint-desktop {
    .schedule-card__infos {
        height: 100%;
        justify-content: space-between;
    }
}