.speakers {
    margin-bottom: $spacer * 2.5;

    .speakers__desc {
        text-align: center;
        margin-bottom: $spacer;

        .speakers-desc--purple {
            color: $primary;
            font-weight: bold;
        }
    }

    .speakers__note {
        text-align: center;
        font-size: 12px;

        .speakers__note--purple {
            color: $primary;
            font-weight: bold;
        }
    }
}

@include media-breakpoint-tablet {
    .speakers {

        .speakers__desc {
            text-align: left;
            margin-bottom: $spacer * 2;
        }

        .speakers__note {
            font-size: 14px;
            text-align: left;
        }
    }
}