.sponsors {
    margin-bottom: $spacer * 4;

    .sponsors__fauna {
        display: block;
        margin: 0 auto $spacer *2 auto;
    }

    .sponsors__conf-sponsors {
        text-align: center;
    }
}